@import url('https://fonts.cdnfonts.com/css/thegoodmonolith');
@import "tailwindcss";
/* optional global default */
html, body {
  font-family: "Apple Garamond", "TheGoodMonolith", Helvetica, sans-serif;
}
body {
    @apply bg-slate-950 p-2.5;
    cursor: crosshair;
}
.font-monolith {
  font-family: "TheGoodMonolith", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  /* text-transform: uppercase; */
}